.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background: #d0cece40;
    border-radius: 5px;
  }
  
   .password-form  h1 {
    text-align: center;
  }
  
  .password-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .password-form  label {
    font-weight: bold;
  }
  
  .nva-contraseña{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 95%;
    margin-top: 10px;
  }
  
  .password-form  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .password-form  button:hover {
    background-color: #0056b3;
  }
  