.home-container {
  text-align: center;
  padding: 50px;
  background-color: #f7f7f7;
  height: 80vh;
}
.icono-bt {
  animation: spin s infinite linear;
  transform-origin: center center;
  box-shadow: 0 0 10px #333;
  border-radius: 20%;
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
.home-container h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #ff6f00;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ff8f00;
}
