.bann-container {
    background-color: #f8d7da00;
    color: #ffffff;
    padding: 20px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 600px;
  }
  