@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geologica:wght@200&family=Open+Sans:wght@400;500&family=Roboto+Condensed:wght@300;700&family=Roboto:wght@300&display=swap');

body {
   margin: 0;
    background-color: rgb(231, 234, 234);
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Geologica', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #191b30;
    color: aliceblue;

}